#exam_field{
    width: 800px;
}

#exam{
    width: 700px;
}

#exam_field_length{
    border: 1px solid pink;
    width: 825px;
    height: 200px;
}

#exam_click{
    background-color: pink;
    border-color: palevioletred;
    color: darkmagenta;
}

#food{
    border: 1px solid black;
    width: 800px;
    height: 300px;
}

#exam_field2{
    width: 750px;
    margin: 1%;
}

#exam2{
    width: 700px;
}

#food_ex{
    border: 1px solid skyblue;
    width: 776px;
    height: 180px;
    margin: 1%;
}

#food_click{
    margin-left: 1%;
    border-color: navy;
    color: navy ;
    background-color: skyblue;
}
#foodArr{
    margin: 0;
}

#flower{
    border: 1px solid black;
    width: 800px;
    height: 300px;
}

#flower_field{
    width: 750px;
    margin: 1%;
}

#flower_write{
    width: 700px;
}

#flower_div{
    border: 1px solid greenyellow;
    width: 776px;
    height: 180px;
    margin: 1%;
}

#flower_click{
    margin-left: 1%;
    border-color: darkgreen;
    color: darkgreen ;
    background-color: greenyellow;
}